.mint{
    background-image: url("../../assets/bg4.png");
    background-size: cover;
    background-color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto !important;
    /* color: white; */
    padding-top: 90px;
    padding-bottom: 90px;
}

.mint h1{
    color: rgb(251,197,11) !important;
}

.top_div_here p{
    color: black !important;
    margin-left: 11rem !important;
    margin-top: -2.5rem !important;
}

.count-form{
    width: 20vw;
    height: 10vh;
    text-align: center;
    font-size: 2rem;
}
.mint-image img{
    width: 100% !important;
    border: 5px solid rgb(251,197,11);
    border-radius: 8px;
    margin-bottom: 2rem;
}

.btn-box{
    font-size: 25px !important;
    font-weight: 400 !important;
    color: black !important;
    background-color: rgb(251,197,11) !important;
    font-family: 'Roboto',
        sans-serif !important;
    border: none !important;
    border-radius: 10px !important;
    text-align: center !important;
    /* padding: 15px 25px 5px 25px !important; */
    margin-left: -15rem !important;
    margin-top: -2rem !important;
}


@media screen and (max-width:480px) {
    .btn-box{
        font-size: 15px !important;
        font-weight: 400 !important;
        margin-left: -12rem !important;
        margin-top: -2rem !important;
    }

    .top_div_here p{
        font-size: 15px !important;
        color: black !important;
        margin-left: 11rem !important;
        margin-top: -2.5rem !important;
    }

    .mint{
        background-image: none !important;
    }
}

@media (min-width:480px) and (max-width:768px) {
    .btn-box{
        font-size: 15px !important;
        font-weight: 400 !important;
        margin-left: -12rem !important;
        margin-top: -4rem !important;
    }

    .top_div_here p{
        font-size: 15px !important;
        color: black !important;
        margin-left: 11rem !important;
        margin-top: -3.5rem !important;
    }

    .mint{
        background-size: cover !important;
        width: auto !important;
    }
}


.model_bg{
  background-image: url("../../assets/bg1.gif") !important;
    
}

.btn_box_model {
    font-size: 25px !important;
    font-weight: 400 !important;
    color: black !important;
    background-color: rgb(251,197,11) !important;
    font-family: 'Roboto', sans-serif !important;
    border: none !important;
    border-radius: 10px !important;
    text-align: center !important;
    padding: 5px 25px 5px 25px !important;
    /* margin-left: -15rem !important;
    margin-top: -2rem !important; */
}